<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Home</title>

	<meta name="keywords" content="Home"/>
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet"
	      href="css/tether.min.css"/>
	<link rel="stylesheet"
	      href="css/tether-theme-basic.min.css"/>
	<link rel="stylesheet"
	      href="css/bootstrap.min.css"/>
	<link rel="stylesheet"
	      href="css/bootstrap-grid.min.css"/>
	<link rel="stylesheet"
	      href="css/bootstrap-reboot.min.css"/>
	<link rel="stylesheet"
	      href="css/font-awesome.min.css"/>
	<link rel="stylesheet"
	      href="css/side.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/side.js"></script>

</head>

<body>


</body>

</html>