<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
	<title>Header</title>
</head>

<body>

<div class="wrapper" th:fragment="navigation">
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>App Name</h3>
			<strong>AN</strong>
		</div>

		<ul class="list-unstyled components">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>

	</nav>

	<!-- Page Content Holder -->
	<div id="content">
		<nav class="navbar navbar-default">

				<div class="navbar-header">
					<button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
						<i class="fa fa-bars"></i>
					</button>
					<span class="text-primary">Username</span>
				</div>
		</nav>
		<div class="container-fluid">
			<div layout:fragment="content"></div>
		</div>
	</div>
</div>

</body>

</html>